In [1]:
import requests
from bs4 import BeautifulSoup
import urllib.request
import selenium.webdriver as webdriver
import pandas as pd

In [2]:
def parse(url):
    
#     browser = webdriver.Chrome(executable_path='/usr/local/bin/chromedriver')
#     browser.get(url)
#     source = browser.page_source
#     soup = BeautifulSoup(source, "html.parser")
#     browser.close()

    r = requests.get(url)
    soup = BeautifulSoup(r.content, "html.parser")


    # parse msg text
#     msgs = soup.find_all(True, {"class":["tgme_widget_message_text js-message_text before_footer", "tgme_widget_message_text js-message_text", "tgme_widget_message_photo"]})
#     msgs1 = soup.find_all('div', class_="tgme_widget_message_text js-message_text before_footer")
#     msgs2 = soup.find_all('div', class_="tgme_widget_message_text js-message_text")
#     msgs = msgs1 + msgs2

#     msg_list = []
#     for msg in msgs:
#         if msg.text is not '':
#             msg_list.append(msg.text)
#         else:
#             msg_list.append('jpg')
    

    # parse msg views count
    views = soup.find_all('span', class_="tgme_widget_message_views")
    
    view_list = []
    for view in views:
        view_list.append(view.text)
        
    # parse msg date and time
    date_times = soup.find_all('a', class_= "tgme_widget_message_date")
    
    date_list = []
    time_list = []
    dt_list = []
    for elem in date_times:
        raw = elem.time
        date = raw['datetime'][:10]
        date_list.append(date)
        time = raw.text
        time_list.append(time)

    
    return view_list, date_list, time_list

In [3]:
def clean_views(x):
    if 'K' in str(x):
        y = int(float(str(x)[:-1]) * 1000)
    else:
        y = int(x)      
    return y

## FactCheck

In [36]:
def parse_all_pages_fc():
    
    url1 = 'https://t.me/s/antielabfactchecking?before=26'
    view_list, date_list, time_list = parse(url1)

    for i in range(36, 680, 5):
        url = url1[:-2] + str(i)
        x, y, z = parse(url)
#         msg_list.extend(a)
        view_list.extend(x)
        date_list.extend(y)
        time_list.extend(z)      

    content = list(zip(view_list, date_list, time_list))
    return content

In [37]:
# parsing and framing
content_fc = parse_all_pages_fc()
df_factcheck = pd.DataFrame(content_fc, columns = ['Views', 'Date', 'Time'])

In [40]:
# data cleaning
df_factcheck.drop_duplicates()
df_factcheck['Views'] = df_factcheck['Views'].apply(lambda x: clean_views(x))
df_factcheck

      Views        Date   Time
0      1800  2019-06-11  14:50
1      2400  2019-06-11  15:10
2      2600  2019-06-11  15:19
3      2700  2019-06-11  15:29
4      3000  2019-06-11  15:46
5      2700  2019-06-11  15:55
6      3300  2019-06-11  16:18
7      3600  2019-06-11  16:32
8      4000  2019-06-11  16:40
9      4100  2019-06-11  16:51
10     4800  2019-06-11  16:53
11     5800  2019-06-11  17:11
12     5900  2019-06-11  17:40
13     6000  2019-06-11  23:57
14     6100  2019-06-12  00:03
15     6200  2019-06-12  00:31
16     6900  2019-06-12  00:40
17     6800  2019-06-12  00:53
18    10600  2019-06-12  01:15
19     6800  2019-06-12  01:16
20     4800  2019-06-11  16:53
21     5800  2019-06-11  17:11
22     5900  2019-06-11  17:40
23     6000  2019-06-11  23:57
24     6100  2019-06-12  00:03
25     6200  2019-06-12  00:31
26     6900  2019-06-12  00:40
27     6800  2019-06-12  00:53
28    10600  2019-06-12  01:15
29     6800  2019-06-12  01:16
...     ...         ...    ...
2549  17200  2019-10-07  14:52
2550  20000  2019-10-07  14:55
2551  15600  2019-10-08  02:45
2552  14100  2019-10-08  08:47
2553  29400  2019-10-13  15:21
2554  14400  2019-10-17  10:58
2555  12500  2019-10-18  04:03
2556  11900  2019-10-18  04:48
2557  40200  2019-10-19  10:35
2558  10800  2019-10-20  05:36
2559  25300  2019-10-20  05:57
2560  30600  2019-10-06  10:45
2561  29000  2019-10-06  12:30
2562  24300  2019-10-06  13:55
2563  19700  2019-10-06  16:00
2564  17200  2019-10-07  14:52
2565  20000  2019-10-07  14:55
2566  15600  2019-10-08  02:45
2567  14100  2019-10-08  08:47
2568  29400  2019-10-13  15:21
2569  14400  2019-10-17  10:58
2570  12500  2019-10-18  04:03
2571  11900  2019-10-18  04:48
2572  40200  2019-10-19  10:35
2573  10800  2019-10-20  05:36
2574  11400  2019-10-20  05:57
2575  49500  2019-10-20  07:16
2576  11100  2019-10-20  07:20
2577  10900  2019-10-20  07:20
2578  12900  2019-10-20  07:27

[2579 rows x 3 columns]

In [41]:
df_factcheck.to_csv('factcheck.csv', index = False)

## Weather

In [28]:
def parse_all_pages_w():
    
    url1 = 'https://t.me/s/weatherjj?before=10'
    view_list, date_list, time_list = parse(url1)

    for i in range(12, 10770, 20):
        url = url1[:-2] + str(i)
        x, y, z = parse(url)
#         msg_list.extend(a)
        view_list.extend(x)
        date_list.extend(y)
        time_list.extend(z)      

    content = list(zip(view_list, date_list, time_list))
    return content

In [29]:
# parsing and framing
content_w = parse_all_pages_w()
df_weather = pd.DataFrame(content_w, columns = ['Views', 'Date', 'Time'])

In [30]:
# data cleaning
df_weather.drop_duplicates()
df_weather['Views'] = df_weather['Views'].apply(lambda x: clean_views(x))
df_weather

      Views        Date   Time
0        68  2019-06-18  18:11
1        68  2019-06-18  18:13
2        51  2019-06-18  18:14
3        73  2019-06-18  18:19
4        68  2019-06-18  18:23
5        68  2019-06-18  18:25
6        51  2019-06-18  18:11
7        73  2019-06-18  18:13
8        73  2019-06-18  18:14
9       101  2019-06-18  18:19
10       56  2019-06-18  18:23
11       54  2019-06-18  18:25
12      156  2019-06-18  18:27
13       61  2019-06-18  18:23
14       84  2019-06-18  18:25
15       62  2019-06-18  18:27
16       78  2019-06-18  18:30
17       64  2019-06-18  18:30
18      101  2019-06-18  18:39
19       65  2019-06-18  18:46
20       67  2019-06-18  19:04
21       68  2019-06-18  19:12
22       67  2019-06-18  19:17
23       84  2019-06-19  05:00
24       86  2019-06-19  05:49
25       82  2019-06-19  06:04
26       68  2019-06-19  06:04
27       72  2019-06-19  06:32
28       69  2019-06-19  06:33
29       81  2019-06-19  06:34
...     ...         ...    ...
9305  12000  2019-10-22  09:48
9306   2900  2019-10-22  15:22
9307  14100  2019-10-22  15:28
9308  10800  2019-10-22  15:53
9309  10800  2019-10-22  16:14
9310   2900  2019-10-22  18:57
9311   3000  2019-10-22  19:31
9312   3700  2019-10-23  02:35
9313   5200  2019-10-23  09:28
9314   4900  2019-10-23  09:32
9315   3400  2019-10-23  09:37
9316   4600  2019-10-23  09:38
9317   3300  2019-10-23  09:39
9318   3900  2019-10-23  09:40
9319   4600  2019-10-23  09:41
9320   4700  2019-10-23  09:41
9321   6000  2019-10-23  09:42
9322  47300  2019-10-23  09:43
9323   4100  2019-10-23  09:47
9324   4500  2019-10-23  09:48
9325   4500  2019-10-23  09:48
9326   4000  2019-10-23  09:49
9327   4100  2019-10-23  09:50
9328   5700  2019-10-23  09:58
9329   3600  2019-10-23  10:02
9330  10700  2019-10-23  09:58
9331   4900  2019-10-23  10:02
9332   4900  2019-10-23  10:13
9333  33600  2019-10-23  10:14
9334   4500  2019-10-23  10:15

[9335 rows x 3 columns]

In [31]:
df_weather.to_csv('weather.csv', index = False)

## SilverHair

In [4]:
def parse_all_pages_sh():
    
    url1 = 'https://t.me/s/silverhair717?before=10'
    view_list, date_list, time_list = parse(url1)

    for i in range(15, 160, 5):
        url = url1[:-2] + str(i)
        x, y, z = parse(url)
#         msg_list.extend(a)
        view_list.extend(x)
        date_list.extend(y)
        time_list.extend(z)      

    content = list(zip(view_list, date_list, time_list))
    return content

In [5]:
# parsing and framing
content_sh = parse_all_pages_sh()
df_silverhair = pd.DataFrame(content_sh, columns = ['Views', 'Date', 'Time'])

In [6]:
# data cleaning
df_silverhair.drop_duplicates()
df_silverhair['Views'] = df_silverhair['Views'].apply(lambda x: clean_views(x))
df_silverhair

     Views        Date   Time
0    12000  2019-07-11  13:26
1      688  2019-07-11  13:26
2    12400  2019-07-11  13:27
3      827  2019-07-11  13:28
4      848  2019-07-11  13:28
5     2100  2019-07-11  13:29
6      957  2019-07-11  13:29
7    12000  2019-07-11  18:18
8      688  2019-07-12  04:45
9    12400  2019-07-11  13:26
10     827  2019-07-11  13:26
11     848  2019-07-11  13:27
12    2100  2019-07-11  13:28
13     957  2019-07-11  13:28
14     996  2019-07-11  13:29
15     926  2019-07-11  13:29
16   12000  2019-07-11  18:18
17     688  2019-07-12  04:45
18   12400  2019-07-12  04:45
19     827  2019-07-15  10:32
20     848  2019-07-11  13:26
21    2100  2019-07-11  13:26
22     957  2019-07-11  13:27
23     996  2019-07-11  13:28
24     926  2019-07-11  13:28
25   16600  2019-07-11  13:29
26    2600  2019-07-11  13:29
27   26500  2019-07-11  18:18
28     973  2019-07-12  04:45
29     848  2019-07-12  04:45
..     ...         ...    ...
468   2000  2019-10-10  10:59
469   2200  2019-10-11  04:47
470   2700  2019-10-11  05:01
471  22900  2019-10-11  06:24
472   2100  2019-10-11  13:27
473  27400  2019-09-23  10:53
474   4700  2019-09-26  07:37
475   5000  2019-09-28  11:20
476   3500  2019-10-04  02:19
477   2400  2019-10-04  02:26
478   2400  2019-10-04  02:27
479  65700  2019-10-05  11:59
480  22500  2019-10-06  07:24
481  20700  2019-10-07  07:47
482  39000  2019-10-08  06:29
483   2000  2019-10-10  10:59
484   2200  2019-10-11  04:47
485   2700  2019-10-11  05:01
486  22900  2019-10-11  06:24
487   2100  2019-10-11  13:27
488  27400  2019-10-12  02:31
489   4700  2019-10-12  06:02
490   5000  2019-10-12  06:05
491   3500  2019-10-12  10:23
492   2400  2019-10-12  12:45
493   2400  2019-10-04  02:27
494  65700  2019-10-05  11:59
495  22500  2019-10-06  07:24
496  36600  2019-10-07  07:47
497   4900  2019-10-08  06:29

[498 rows x 3 columns]

In [ ]:
df_silverhair.to_csv('silverhair.csv', index = False)

## Adolescent

In [12]:
def parse_all_pages_al():
    
    url1 = 'https://t.me/s/st_connecthk?before=6'
    view_list, date_list, time_list = parse(url1)

    for i in range(10, 280, 5):
        url = url1[:-2] + str(i)
        x, y, z = parse(url)
#         msg_list.extend(a)
        view_list.extend(x)
        date_list.extend(y)
        time_list.extend(z)      

    content = list(zip(view_list, date_list, time_list))
    return content

In [13]:
# parsing and framing
content_al = parse_all_pages_al()
df_adolescent = pd.DataFrame(content_al, columns = ['Views', 'Date', 'Time'])

In [14]:
# data cleaning
df_adolescent.drop_duplicates()
df_adolescent['Views'] = df_adolescent['Views'].apply(lambda x: clean_views(x))
df_adolescent

      Views        Date   Time
0     14500  2019-08-29  12:23
1       563  2019-08-29  12:25
2     24000  2019-08-29  18:10
3       756  2019-10-23  05:14
4    125000  2019-10-23  23:08
5      1400  2019-10-23  23:17
6       856  2019-10-27  05:46
7       926  2019-10-27  08:48
8       414  2019-10-27  13:37
9       334  2019-10-27  17:07
10      408  2019-10-28  14:12
11      407  2019-10-28  14:13
12      423  2019-10-28  14:13
13    82000  2019-10-28  14:22
14      563  2019-10-28  14:22
15    24000  2019-10-29  10:46
16      756  2019-10-30  22:54
17   125000  2019-10-23  05:14
18     1400  2019-10-23  23:08
19      856  2019-10-23  23:17
20      926  2019-10-27  05:46
21      414  2019-10-27  08:48
22      334  2019-10-27  13:37
23      408  2019-10-27  17:07
24      407  2019-10-28  14:12
25      423  2019-10-28  14:13
26    82000  2019-10-28  14:13
27      563  2019-10-28  14:22
28    24000  2019-10-28  14:22
29      756  2019-10-29  10:46
..      ...         ...    ...
673     408  2019-10-29  10:46
674     407  2019-10-30  22:54
675     423  2019-10-23  05:14
676   82000  2019-10-23  23:08
677     563  2019-10-23  23:17
678   24000  2019-10-27  05:46
679     756  2019-10-27  08:48
680  125000  2019-10-27  13:37
681    1400  2019-10-27  17:07
682     856  2019-10-28  14:12
683     926  2019-10-28  14:13
684     414  2019-10-28  14:13
685     334  2019-10-28  14:22
686     408  2019-10-28  14:22
687     407  2019-10-29  10:46
688     423  2019-10-30  22:54
689   82000  2019-10-23  05:14
690     563  2019-10-23  23:08
691   24000  2019-10-23  23:17
692     756  2019-10-27  05:46
693  125000  2019-10-27  08:48
694    1400  2019-10-27  13:37
695     856  2019-10-27  17:07
696     926  2019-10-28  14:12
697     414  2019-10-28  14:13
698     334  2019-10-28  14:13
699     408  2019-10-28  14:22
700     407  2019-10-28  14:22
701     423  2019-10-29  10:46
702   82000  2019-10-30  22:54

[703 rows x 3 columns]

In [15]:
df_adolescent.to_csv('adolescent.csv', index = False)

## StandWithJournalists

In [16]:
def parse_all_pages_swj():
    
    url1 = 'https://t.me/s/SWJHK?before=10'
    view_list, date_list, time_list = parse(url1)

    for i in range(15, 125, 5):
        url = url1[:-2] + str(i)
        x, y, z = parse(url)
#         msg_list.extend(a)
        view_list.extend(x)
        date_list.extend(y)
        time_list.extend(z)      

    content = list(zip(view_list, date_list, time_list))
    return content

In [17]:
# parsing and framing
content_swj = parse_all_pages_swj()
df_swj = pd.DataFrame(content_swj, columns = ['Views', 'Date', 'Time'])

In [18]:
# data cleaning
df_swj.drop_duplicates()
df_swj['Views'] = df_swj['Views'].apply(lambda x: clean_views(x))
df_swj

     Views        Date   Time
0     1800  2019-10-01  00:52
1    51400  2019-10-01  01:10
2     1800  2019-10-01  03:18
3    51400  2019-10-01  03:18
4     6900  2019-10-01  00:52
5     3200  2019-10-01  01:10
6    39600  2019-10-01  03:18
7     1800  2019-10-01  03:18
8    51400  2019-10-01  03:24
9     6900  2019-10-01  03:43
10    3200  2019-10-01  19:53
11   39600  2019-10-01  00:52
12    4600  2019-10-01  01:10
13   24800  2019-10-01  03:18
14   11100  2019-10-01  03:18
15    6900  2019-10-01  03:24
16    1800  2019-10-01  03:43
17   51400  2019-10-01  19:53
18    6900  2019-10-02  04:49
19    3200  2019-10-02  04:51
20   39600  2019-10-02  04:59
21    4600  2019-10-02  07:08
22   24800  2019-10-01  00:52
23   11100  2019-10-01  01:10
24    6900  2019-10-01  03:18
25    3100  2019-10-01  03:18
26    3200  2019-10-01  03:24
27   62500  2019-10-01  03:43
28    1800  2019-10-01  19:53
29   51400  2019-10-02  04:49
..     ...         ...    ...
327   9300  2019-10-09  11:00
328  26500  2019-10-09  15:21
329   7200  2019-10-10  00:59
330   6800  2019-10-11  10:35
331   5400  2019-10-13  01:30
332   6400  2019-10-14  05:40
333   5300  2019-10-15  06:25
334  22800  2019-10-18  10:21
335   8800  2019-10-18  13:05
336  16500  2019-10-18  14:14
337   9000  2019-10-19  03:19
338  20300  2019-10-08  05:44
339   5500  2019-10-09  03:22
340  11000  2019-10-09  04:45
341  27700  2019-10-09  11:00
342  13000  2019-10-09  15:21
343   7200  2019-10-10  00:59
344  34700  2019-10-11  10:35
345   9300  2019-10-13  01:30
346  26500  2019-10-14  05:40
347   7200  2019-10-15  06:25
348   6800  2019-10-18  10:21
349   5400  2019-10-18  13:05
350   6400  2019-10-18  14:14
351   5300  2019-10-19  03:19
352  22800  2019-10-19  03:40
353   8800  2019-10-20  15:54
354  16500  2019-10-20  16:10
355   9000  2019-10-20  16:40
356  11500  2019-10-08  05:44

[357 rows x 3 columns]

In [19]:
df_swj.to_csv('standwithjournalists.csv', index = False)